@model string

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login">
    <h2>Password recovery</h2>

    @if (@ViewBag.Success != null)
    {
        <div class="alert alert-success">
            @ViewBag.Success
        </div>
    }

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })

    @using (Html.BeginForm("ForgotPassword", "Account", new { area = "User" }, FormMethod.Post))
    {
        <input placeholder="User name or email" class="input-md" name="UserNameOrEmail" required />

        <button type="submit" class="btn btn-primary btn-block btn-large"> Reset password </button>
    }
    
    <br />

    @Html.ActionLink("Return to login", "Login")
</div>

