@model ERP.Common.Models.PasswordResetUser

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login">
    <h2>Reset password</h2>

    @if (@ViewBag.Success != null)
    {
        <div class="alert alert-success">
            @ViewBag.Success
        </div>
    }

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })

    @using (Html.BeginForm("ResetPassword", "Account", new { area = "User" }, FormMethod.Post))
    {
        @Html.PasswordFor(x => x.Password, new { @class = "input-md", placeholder = "Password" })

        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "input-md", placeholder = "Confirm password" })
        
        <button type="submit" class="btn btn-primary btn-block btn-large"> Change password </button>
    }
    <br />
        @Html.RouteLink("Forgot password?", "User_default", new { action = "ForgotPassword", controller = "Account" })

    <br />

        @Html.ActionLink("Return to login", "Login")
</div>